@import "variable";

body {
    background: #e0dada;

}
.navbar-header {
    font-weight: 700;
    letter-spacing: 2px;
}
.card-body a {
    text-decoration: none;
    transition: 0.2s;
    
    &:hover {
        color: #FF6651;
    }
}
.card-title {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.card-text {
    color: #FF6651;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.course-name {
    color: #F62682;
}
.course-desc {
    font-style: italic;
    margin-top: 30px;
    color: #6A5AF9;
}

.user-avt {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 5px;
}
.table-my-course{
    padding: 30px;
    border-radius: 10px;
}

@media (max-width: 500px) {
    .video-box {
        overflow: hidden;
        max-width: 100%;
        position: relative;
        padding-bottom: 56.25%; /* Tỷ lệ khung hình 16:9 */
    }

    .video-box iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    .table-responsive {
        max-width: 100vw;
    }
    
    
}

.checkbox-select-all-options{
    width: 160px;
    margin: 0 16px;
}
// NAVBAR
.navbar-custom {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
}

.mt-90px {
    margin-top: 90px;
}