<div class="mt-90px">
    <h2>Đăng khóa học</h2>
    <form method="POST" action="/courses/store">
        <div class="mb-3">
            <label for="name" class="form-label">Tên khóa học</label>
            <input type="text" class="form-control" id="name" name="name">
        </div>
        <div class="mb-3">
            <label for="desc" class="form-label">Mô tả khóa học</label>
            <input type="text" class="form-control" id="desc" name="desc">
        </div>
        <div class="mb-3">
            <label for="videoId" class="form-label">Id video</label>
            <input type="text" class="form-control" id="videoId" name="videoId">
        </div>
        <div class="mb-3">
            <label for="level" class="form-label">Trình độ</label>
            <input type="text" class="form-control" id="level" name="level">
        </div>
      
        <button type="submit" class="btn btn-primary">Thêm khóa học</button>
    </form>
</div>