<nav class="navbar navbar-expand-lg navbar-dark bg-dark navbar-custom">
    <div class="container">
        <a class="navbar-brand navbar-header" href="/" >WARKING</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto">   
                
                <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="https://i.pinimg.com/564x/d2/df/d9/d2dfd9b423b7d76668c9e6f9b3ceb81d.jpg" alt="Lisa" class="user-avt">
                    Lisa
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="/courses/create">Đăng khóa học</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="/me/stored/courses">Khóa học của tôi</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="/news">Tin tức mới nhất</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="/searchs">Tìm kiếm</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#">Đăng Xuất</a></li>
                </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>