<div class="mt-90px">
    <form >
        <div class="mb-3">
            <label for="search-input" class="form-label">Nhập từ khóa</label>
            <input type="text" name="q" class="form-control" id="search-input" placeholder="Nhập từ khóa cần tìm">
        </div>

        <button type="submit" class="btn btn-primary">Tìm Kiếm</button>
    </form>
</div>